section {
    &.banners-home {
        margin-top: 100px;

        .aligner {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .owl-carousel {
                div.item {
                    a {
                        display: block;
                        width: 100%;

                        img {
                            display: block;
                            margin: 0 auto;
                            width: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }

            .owl-nav {
                position: absolute;
                top: calc(100% - 95px);
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                pointer-events: none;
                display: flex;
                justify-content: space-between;
                width: 100%;
                max-width: 310px;

                @media (min-width: 400px) {
                    max-width: 350px;
                }

                @media (min-width: 576px) {
                    max-width: 540px;
                }

                @media (min-width: 768px) {
                    max-width: 720px;
                    top: 40%;
                }

                @media (min-width: 992px) {
                    max-width: 960px;
                }

                @media (min-width: 1200px) {
                    max-width: 1140px;
                }

                @media (min-width: 1300px) {
                    max-width: 1216px !important;
                }

                >button {
                    pointer-events: all;

                    &:hover {
                        background: none !important;
                    }
                }
            }

            .owl-dots {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 30px;
                margin-left: auto;
                margin-right: auto;
                z-index: 1;
                width: 100%;
                max-width: 150px;
                display: flex;
                justify-content: space-between;
                padding: 17px 50px;
                border-radius: 8px;
                background: rgba(0, 0, 0, 0.50);

                >button {
                    display: block;
                    width: 10px !important;
                    height: 12px !important;
                    background: rgba(255, 255, 255, 0.50);
                    border: none;
                    outline: none;
                    cursor: pointer;
                    border-radius: 50%;

                    &.active {
                        background: #fff;
                    }
                }
            }
        }
    }

    &.ofertas-home {
        padding: 60px 0 0;
        background: #fff;

        @media(min-width: 768px) {
            padding: 135px 0 0;
        }

        >div.container {
            >span {
                display: block;
                font-style: normal;
                font-weight: 400;

                &.titulo {
                    color: #142954;
                    font-size: 26px;
                    line-height: 33.8px;
                    padding-bottom: 12px;

                    @media(min-width: 768px) {
                        text-align: center;
                        font-size: 30px;
                        line-height: 39px;
                        padding-bottom: 0;
                    }

                    .destaque {
                        font-weight: 700;
                    }
                }

                &.subtitulo {
                    color: #000;
                    font-size: 16px;
                    line-height: 26px;
                    padding-bottom: 50px;

                    @media(min-width: 768px) {
                        text-align: center;
                        padding-bottom: 30px;
                    }
                }
            }

            >div {
                &.contain-filtros-ofertas {
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: column;
                    align-items: center;
                    gap: 12px;
                    padding-bottom: 40px;

                    @media(min-width: 768px) {
                        flex-direction: row;
                        justify-content: center;
                        gap: 14px;
                        padding-bottom: 60px;
                    }

                    >button {
                        display: block;
                        width: 100%;
                        max-width: 260px;
                        white-space: nowrap;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        padding: 11px 10px 9px;
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 19.2px;
                        border-radius: 12px;

                        &:nth-child(1) {
                            background: #003DA6;
                            color: #fff;
                        }

                        &:nth-child(2) {
                            background: #E0E0E0;
                            color: #000;
                        }
                    }
                }

                &.contain-cards-ofertas {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    flex-wrap: nowrap;
                    gap: 40px;
                    padding-bottom: 35px;

                    @media (min-width: 600px) {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 40px 20px;
                    }

                    @media (min-width: 992px) {
                        grid-template-columns: repeat(3, 1fr);
                    }

                    @media (min-width: 1200px) {
                        gap: 80px 40px;
                    }

                    div.card-oferta {
                        width: 100%;
                        max-width: 380px;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        position: relative;
                        border-radius: 10px;

                        &.oferta {
                            &::after {
                                content: 'Oferta por tempo limitado';
                                position: absolute;
                                left: 0;
                                right: 0;
                                top: -24px;
                                margin-left: auto;
                                margin-right: auto;
                                width: 100%;
                                max-width: 215px;
                                border-radius: 12px;
                                background: #F58220;
                                padding: 11px 10px 9px;
                                color: #FFF;
                                font-size: 14px;
                                line-height: 16.8px;
                                text-align: center;
                                font-style: normal;
                                font-weight: 400;

                                @media(min-width: 768px) {
                                    font-size: 16px;
                                    line-height: 19.2px;
                                    max-width: 260px;
                                }
                            }
                        }

                        &.mais-vendido {
                            &::after {
                                content: 'Mais vendida';
                                position: absolute;
                                left: 0;
                                right: 0;
                                top: -24px;
                                margin-left: auto;
                                margin-right: auto;
                                width: 100%;
                                max-width: 215px;
                                border-radius: 12px;
                                background: #F58220;
                                padding: 11px 10px 9px;
                                color: #FFF;
                                text-align: center;
                                font-size: 14px;
                                line-height: 16.8px;
                                font-style: normal;
                                font-weight: 400;

                                @media(min-width: 768px) {
                                    font-size: 16px;
                                    line-height: 19.2px;
                                    max-width: 260px;
                                }
                            }

                            >div {
                                &.header-card {
                                    background: #022E79;
                                }

                                &.body-card {
                                    background: #003DA6;

                                    >span {
                                        &.preco {
                                            color: #fff;
                                        }

                                        &.validade-oferta {
                                            color: rgba(255, 255, 255, .5);
                                        }
                                    }

                                    >div.tipo-pag {
                                        >div.ico {
                                            >svg {
                                                g {
                                                    path {
                                                        fill: #fff;
                                                    }
                                                }
                                            }
                                        }

                                        >span {
                                            color: rgba(255, 255, 255, .5);
                                        }
                                    }
                                }

                                &.footer-card {
                                    background: #022E79;

                                    >div {
                                        &.ico {
                                            >svg {
                                                >rect {
                                                    stroke: #fff;
                                                }

                                                g {
                                                    >path {
                                                        fill: #fff;
                                                    }
                                                }
                                            }
                                        }

                                        &.right-footer-card {
                                            >span {
                                                &.beneficio {
                                                    color: rgba(255, 255, 255, .5);
                                                }

                                                &.inclusao {
                                                    color: #fff;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        >div {
                            &.header-card {
                                background: #003DA6;
                                padding: 20px 20px 25px;
                                overflow: hidden;
                                border-radius: 10px 10px 0px 0px;

                                >span {
                                    display: block;
                                    text-align: center;
                                    font-style: normal;

                                    &.subtitulo {
                                        color: rgba(255, 255, 255, .5);
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 20.8px;
                                        padding-bottom: 8px;

                                        @media(min-width: 600px) {
                                            font-size: 18px;
                                            line-height: 23.4px;
                                        }
                                    }

                                    &.titulo {
                                        color: #FFF;
                                        font-size: 40px;
                                        font-weight: 700;
                                        line-height: 52px;
                                        text-transform: uppercase;
                                    }
                                }
                            }

                            &.body-card {
                                background: #fff;
                                padding: 25px 20px 20px;

                                >span {
                                    display: block;
                                    text-align: center;
                                    font-style: normal;

                                    &.preco {
                                        color: #003DA6;
                                        font-size: 30px;
                                        font-weight: 700;
                                        line-height: 39px;
                                        text-transform: uppercase;
                                    }

                                    &.validade-oferta {
                                        color: rgba(0, 0, 0, .5);
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 20.8px;
                                        padding-bottom: 25px;

                                        @media(min-width: 600px) {
                                            font-size: 18px;
                                            line-height: 23.4px;
                                        }
                                    }
                                }

                                >a.assinatura-card {
                                    display: flex;
                                    flex-wrap: nowrap;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 8px;
                                    padding: 12px 33px;
                                    border-radius: 12px;
                                    background: #F58220;
                                    white-space: nowrap;
                                    text-decoration: none;

                                    >div.ico {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        position: relative;
                                        bottom: 1px;
                                    }

                                    >span {
                                        display: block;
                                        color: #FFF;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: 24px;
                                    }
                                }

                                >div.tipo-pag {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-wrap: nowrap;
                                    gap: 10px;
                                    margin-top: 15px;

                                    >div.ico {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        >svg {
                                            g {
                                                path {
                                                    fill: #000;
                                                }
                                            }
                                        }
                                    }

                                    >span {
                                        display: block;
                                        color: rgba(0, 0, 0, .5);
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 20.8px;

                                        @media(min-width: 600px) {
                                            font-size: 18px;
                                            line-height: 23.4px;
                                        }
                                    }
                                }
                            }

                            &.footer-card {
                                padding: 24px 20px;
                                background: #F5F5F5;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                flex-wrap: nowrap;
                                gap: 8px;
                                overflow: hidden;
                                border-radius: 0px 0px 10px 10px;

                                >div {
                                    &.ico {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        >svg {
                                            >rect {
                                                stroke: #000;
                                            }

                                            g {
                                                >path {
                                                    fill: #000;
                                                }
                                            }
                                        }
                                    }

                                    &.right-footer-card {
                                        >span {
                                            display: block;
                                            font-size: 16px;
                                            line-height: 20.8px;
                                            font-style: normal;

                                            @media(min-width: 600px) {
                                                font-size: 18px;
                                                line-height: 23.4px;
                                            }

                                            &.beneficio {
                                                color: rgba(0, 0, 0, .5);
                                                font-weight: 400;
                                            }

                                            &.inclusao {
                                                color: #003DA6;
                                                font-weight: 700;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                &.contain-ver-mais {
                    padding-bottom: 70px;
                    display: flex;
                    flex-wrap: nowrap;
                    justify-content: center;

                    @media(min-width: 992px) {
                        padding-bottom: 135px;
                    }

                    >button.btn-ver-mais {
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        border-radius: 80px;
                        background: #E0E0E0;
                        padding: 3px 4px;
                        white-space: nowrap;
                        gap: 35px;

                        >span {
                            display: block;
                            color: #000;
                            text-align: center;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 19.2px;
                            padding-left: 60px;
                        }

                        >div.ico {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
            }
        }
    }

    &.quem-somos-home {
        background: url('/website/img/index/bg-azul-mobille.jpg') no-repeat center center;
        background-size: 100% 100%;
        padding: 45px 0 70px;

        @media(min-width: 576px) {
            background: url('/website/img/index/bg-azul-desktop.jpg') no-repeat center center;
            background-size: cover;
        }

        @media(min-width: 768px) {
            padding: 60px 0 190px;
        }

        .container {
            position: relative;
        }

        div {
            &.top {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 35px;

                @media (min-width: 768px) {
                    flex-direction: row;
                }

                @media (min-width: 992px) {
                    gap: 70px;
                }

                >div {
                    &.col-left {
                        >img {
                            display: block;
                            margin: 0 auto;
                            width: 100%;
                            max-width: 610px;
                            object-fit: cover;

                            @media (min-width: 768px) {
                                min-width: 310px;
                            }

                            @media (min-width: 992px) {
                                min-width: 410px;
                            }

                            @media (min-width: 1200px) {
                                min-width: 580px;
                            }

                            @media (min-width: 1500px) {
                                min-width: 610px;
                            }
                        }
                    }

                    &.col-right {
                        >span {
                            display: block;
                            color: #FFF;
                            font-style: normal;

                            &.titulo {
                                font-size: 26px;
                                font-weight: 400;
                                line-height: 33.8px;
                                padding-bottom: 30px;

                                @media (min-width: 768px) {
                                    font-size: 30px;
                                    line-height: 39px;
                                }

                                >.destaq {
                                    font-weight: 700;
                                }
                            }

                            &.subtitulo {
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 25.6px;
                                padding-bottom: 20px;
                            }

                            &.desc {
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 25.6px;
                                padding-bottom: 30px;
                            }
                        }

                        >div.contain-btns {
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                            gap: 30px;

                            @media (min-width: 576px) {
                                flex-direction: row;
                                justify-content: flex-start;
                                align-items: flex-start;
                            }

                            @media (min-width: 768px) {
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                            }

                            @media (min-width: 992px) {
                                flex-direction: row;
                                justify-content: flex-start;
                                align-items: flex-start;
                            }

                            >a {
                                text-decoration: none;
                                padding: 12px 33px;
                                border: none;
                                color: #fff;
                                font-style: normal;

                                &.saiba-mais {
                                    display: inline-block;
                                    border-radius: 12px;
                                    background: #F58220;
                                    text-align: center;
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 24px;
                                    width: 100%;

                                    @media(min-width: 576px) {
                                        width: auto;
                                    }
                                }

                                &.fale-conosco {
                                    display: flex;
                                    flex-wrap: nowrap;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 8px;
                                    background: transparent;
                                    width: 100%;

                                    @media(min-width: 576px) {
                                        width: auto;
                                    }

                                    >div.ico {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }

                                    >span {
                                        display: block;
                                        font-size: 16px;
                                        font-weight: 400;
                                        line-height: 24px;
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &.bottom-cards {
                display: flex;
                flex-wrap: nowrap;
                flex-direction: column;
                gap: 30px;
                justify-content: center;
                align-items: center;
                padding-top: 85px;

                @media (min-width: 768px) {
                    flex-direction: row;
                    justify-content: space-between;
                    align-items: stretch;
                    padding-top: 55px;
                    position: absolute;
                    left: 0;
                    right: 0;
                    margin-left: auto;
                    margin-right: auto;
                    gap: 15px;
                }

                @media (min-width: 992px) {
                    gap: 30px;
                }

                >div.card-inst {
                    width: 100%;
                    max-width: 330px;
                    border-radius: 19px;
                    background: #FFF;
                    box-shadow: 0px 0px 8.6px 0px rgba(0, 0, 0, 0.15);
                    padding: 30px 35px;

                    >div.ico {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding-bottom: 15px;
                    }

                    >span {
                        display: block;
                        color: #000;
                        text-align: center;
                        font-style: normal;

                        &.titulo {
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 20.8px;
                            padding-bottom: 8px;
                        }

                        &.desc {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 24px;
                        }
                    }
                }
            }
        }
    }

    &.link-dedicado-home {
        padding: 60px 0 40px;
        background: #E3E3E3;

        @media(min-width: 768px) {
            padding: 245px 0 135px;
        }

        @media(min-width: 992px) {
            padding: 180px 0 135px;
        }

        @media(min-width: 1200px) {
            padding: 245px 0 135px;
        }

        div.grid {
            display: flex;
            flex-wrap: nowrap;
            flex-direction: column;
            gap: 30px;

            @media(min-width: 768px) {
                flex-direction: row;
                gap: 35px;
            }

            @media(min-width: 992px) {
                gap: 75px;
            }

            >div {
                @media(min-width: 768px) {
                    width: 100%;
                }

                &.left {
                    order: 1;

                    >span {
                        display: block;
                        color: #000;
                        font-style: normal;

                        &.titulo {
                            font-size: 26px;
                            font-weight: 400;
                            line-height: 130%;
                            width: 100%;
                            max-width: 300px;
                            padding-bottom: 30px;

                            @media(min-width: 768px) {
                                font-size: 30px;
                                max-width: 100%;
                            }
                        }

                        &.subtitulo {
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 25.6px;
                            padding-bottom: 20px;
                        }

                        &.desc {
                            font-size: 16px;
                            font-weight: 400;
                            line-height: 25.6px;
                        }
                    }

                    >div {
                        &.grid-cards {
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: space-between;
                            align-items: stretch;
                            padding-top: 30px;
                            gap: 10px;

                            @media(min-width: 768px) {
                                padding-top: 40px;
                            }

                            @media(min-width: 992px) {
                                gap: 20px;
                            }

                            @media(min-width: 1200px) {
                                max-width: 480px;
                            }

                            >div.card-link-dedicado {
                                width: 100%;
                                display: flex;
                                flex-wrap: nowrap;
                                flex-direction: column;
                                justify-content: flex-start;
                                align-items: center;
                                gap: 15px;

                                >div.ico {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    width: 100%;
                                    flex-grow: 1;
                                    height: 70px;
                                    min-height: 70px !important;
                                    max-height: 70px !important;
                                }

                                >span {
                                    display: block;
                                    color: #003DA6;
                                    text-align: center;
                                    font-size: 10px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 19.5px;

                                    @media(min-width: 400px) {
                                        font-size: 11px;
                                    }

                                    @media(min-width: 992px) {
                                        font-size: 13px;
                                    }

                                    @media(min-width: 1200px) {
                                        font-size: 15px;
                                    }
                                }
                            }
                        }

                        &.contain-btns {
                            display: flex;
                            flex-wrap: nowrap;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            gap: 23px;
                            padding-top: 30px;

                            @media(min-width: 1200px) {
                                flex-direction: row;
                                justify-content: flex-start;
                            }

                            >a {
                                display: flex;
                                flex-wrap: nowrap;
                                justify-content: center;
                                align-items: center;
                                padding: 12px 33px;
                                text-decoration: none;

                                >div.ico {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                >span {
                                    display: block;
                                    font-style: normal;
                                }

                                &.contratar-agr {
                                    gap: 8px;
                                    border-radius: 12px;
                                    background: #003DA6;

                                    >span {
                                        color: #FFF;
                                        font-size: 16px;
                                        font-weight: 500;
                                        line-height: 24px;
                                    }
                                }

                                &.ver-ofertas {
                                    gap: 4px;

                                    >span {
                                        color: #000;
                                        font-size: 14px;
                                        font-weight: 400;
                                        line-height: 40px;
                                        letter-spacing: 0.7px;
                                        text-decoration-line: underline;
                                    }
                                }
                            }
                        }
                    }
                }

                &.right {
                    @media(min-width: 768px) {
                        order: 1;
                    }

                    >img {
                        display: block;
                        width: 100%;
                        max-width: 640px;
                        margin: 0 auto;
                        object-fit: cover;

                        @media(min-width: 768px) {
                            position: relative;
                            bottom: 60px;
                        }

                        @media(min-width: 1200px) {
                            bottom: 80px;
                        }
                    }
                }
            }
        }
    }

    &.beneficios-home {
        background: url('/website/img/index/bg-beneficios-mobille.png') no-repeat center center;
        background-size: 100% 100%;
        padding: 55px 0 50px;

        @media (min-width: 576px) {
            background: url('/website/img/index/bg-beneficios-desktop.png') no-repeat center center;
            padding: 90px 0;
            background-size: cover;
        }

        span {
            display: block;
            color: #FFF;
            font-style: normal;
            width: 100%;

            @media (min-width: 576px) {
                max-width: 650px;
            }

            &.titulo {
                font-size: 26px;
                font-weight: 400;
                line-height: 33.8px;
                padding-bottom: 12px;

                @media (min-width: 576px) {
                    font-size: 30px;
                    line-height: 39px;
                }
            }

            &.desc {
                font-size: 16px;
                font-weight: 400;
                line-height: 25.6px;
                padding-bottom: 35px;
            }
        }

        div.contain-card-benef {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            gap: 35px;
            justify-items: center;

            @media (min-width: 576px) {
                grid-template-columns: repeat(2, 1fr);
            }

            @media (min-width: 768px) {
                gap: 45px;
            }

            @media (min-width: 992px) {
                grid-template-columns: repeat(3, 1fr);
                gap: 40px;
            }

            @media (min-width: 1200px) {
                gap: 65px;
            }

            @media (min-width: 1300px) {
                grid-template-columns: repeat(4, 1fr);
                gap: 15px;
            }

            >div.card-benef {
                display: flex;
                flex-wrap: nowrap;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                gap: 15px;
                border-radius: 19px;
                background: #FFF;
                box-shadow: 0px 0px 8.6px 0px rgba(0, 0, 0, 0.15);
                padding: 30px 25px;
                width: 100%;
                max-width: 310px;

                @media (min-width: 576px) {
                    padding: 25px;
                    max-width: 100%;
                }

                >div {
                    &.top {
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 15px;
                        padding-bottom: 15px;
                        height: 80px;

                        >div.ico {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }

                        >span {
                            display: block;
                            color: #000;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 700;
                            line-height: 20.8px;

                            @media (min-width: 576px) {
                                font-size: 12.5px;
                            }

                            @media (min-width: 768px) {
                                font-size: 16px;
                            }

                            @media (min-width: 1300px) {
                                font-size: 14px;
                            }
                        }
                    }

                    &.bottom {
                        span.desc {
                            display: block;
                            color: #000;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;

                            @media (min-width: 576px) {
                                font-size: 12.5px;
                            }

                            @media (min-width: 768px) {
                                font-size: 16px;
                            }

                            @media (min-width: 1300px) {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
        }
    }

    &.clientes-home {
        border: 2px solid cyan;
        padding: 55px 0 100px;
        background: #F7F8FA;

        @media (min-width: 768px) {
            padding: 135px 0;
        }

        .container-center-left {
            >span {
                display: block;
                color: #000;
                font-style: normal;
                font-weight: 400;

                &.titulo {
                    font-size: 30px;
                    line-height: 39px;
                    padding-bottom: 15px;
                }

                &.subtitulo {
                    font-size: 16px;
                    line-height: 25.6px;
                    padding-bottom: 50px;

                    @media (min-width: 576px) {
                        padding-bottom: 35px;
                    }
                }
            }

            >div#carousel-clientes {
                border: 2px solid cyan;

                .item {
                    border: 2px solid red;

                    >div.item-cliente {
                        border: 2px solid lime;
                    }
                }
            }
        }
    }
}