section {
    &.banners-home {
        margin-top: 100px;

        .aligner {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            .owl-item {
                .item {
                    >img {
                        display: block;
                        margin: 0 auto;
                        width: 100%;
                        object-fit: cover;
                    }

                    >div.contain-btns-banner {
                        border: 2px solid cyan;
                        width: 100%;
                        max-width: 310px;

                        @media (min-width: 400px) {
                            max-width: 350px;
                        }

                        @media (min-width: 576px) {
                            max-width: 540px;
                        }

                        @media (min-width: 768px) {
                            max-width: 720px;
                        }

                        @media (min-width: 992px) {
                            max-width: 960px;
                        }

                        @media (min-width: 1200px) {
                            max-width: 1140px;
                        }

                        @media (min-width: 1300px) {
                            max-width: 1216px !important;
                        }
                    }
                }
            }

            .owl-nav {
                position: absolute;
                top: calc(100% - 95px);
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
                pointer-events: none;
                display: flex;
                justify-content: space-between;
                width: 100%;
                max-width: 310px;

                @media (min-width: 400px) {
                    max-width: 350px;
                }

                @media (min-width: 576px) {
                    max-width: 540px;
                }

                @media (min-width: 768px) {
                    max-width: 720px;
                    top: 40%;
                }

                @media (min-width: 992px) {
                    max-width: 960px;
                }

                @media (min-width: 1200px) {
                    max-width: 1140px;
                }

                @media (min-width: 1300px) {
                    max-width: 1216px !important;
                }

                >button {
                    pointer-events: all;

                    &:hover {
                        background: none;
                    }
                }
            }

            .contain-btns-banner {
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                z-index: 1;
                margin-left: auto;
                margin-right: auto;
                pointer-events: none;
                border: 2px solid red;

                >a {
                    pointer-events: all;
                }

                >button {
                    pointer-events: all;
                }
            }

            .owl-dots {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 30px;
                margin-left: auto;
                margin-right: auto;
                z-index: 1;
                width: 100%;
                max-width: 150px;
                display: flex;
                justify-content: space-between;
                padding: 17px 50px;
                border-radius: 8px;
                background: rgba(0, 0, 0, 0.50);

                >button {
                    display: block;
                    width: 10px !important;
                    height: 12px !important;
                    background: rgba(255, 255, 255, 0.50);
                    border: none;
                    outline: none;
                    cursor: pointer;
                    border-radius: 50%;

                    &.active {
                        background: #fff;
                    }
                }
            }
        }
    }

    &.ofertas-home {
        padding: 60px 0 70px;
        background: #fff;

        @media(min-width: 768px) {
            padding: 135px 0;
        }

        >div.container {
            >span {
                display: block;
                font-style: normal;
                font-weight: 400;

                &.titulo {
                    color: #142954;
                    font-size: 26px;
                    line-height: 33.8px;
                    padding-bottom: 12px;

                    @media(min-width: 768px) {
                        text-align: center;
                        font-size: 30px;
                        line-height: 39px;
                        padding-bottom: 0;
                    }

                    .destaque {
                        font-weight: 700;
                    }
                }

                &.subtitulo {
                    color: #000;
                    font-size: 16px;
                    line-height: 26px;
                    padding-bottom: 50px;

                    @media(min-width: 768px) {
                        text-align: center;
                        padding-bottom: 30px;
                    }
                }
            }

            >div {
                &.contain-filtros-ofertas {
                    display: flex;
                    flex-wrap: nowrap;
                    flex-direction: column;
                    align-items: center;
                    gap: 12px;
                    padding-bottom: 20px;

                    @media(min-width: 768px) {
                        flex-direction: row;
                        justify-content: center;
                        gap: 14px;
                        padding-bottom: 30px;
                    }

                    >button {
                        display: block;
                        width: 100%;
                        max-width: 260px;
                        white-space: nowrap;
                        border: none;
                        outline: none;
                        cursor: pointer;
                        padding: 11px 10px 9px;
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 19.2px;
                        border-radius: 12px;

                        &:nth-child(1) {
                            background: #003DA6;
                            color: #fff;
                        }

                        &:nth-child(2) {
                            background: #E0E0E0;
                            color: #000;
                        }
                    }
                }

                &.contain-cards-ofertas {
                    div.card-oferta {
                        width: 100%;
                        max-width: 380px;
                        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
                        position: relative;
                        border-radius: 10px;

                        &.oferta {
                            &::after {
                                content: 'Oferta por tempo limitado';
                                position: absolute;
                                left: 0;
                                right: 0;
                                top: -24px;
                                margin-left: auto;
                                margin-right: auto;
                                width: 100%;
                                max-width: 260px;
                                border-radius: 12px;
                                background: #F58220;
                                padding: 11px 10px 9px;
                                color: #FFF;
                                text-align: center;
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 19.2px;
                            }
                        }

                        >div {
                            &.header-card {
                                background: #003DA6;
                                padding: 20px 20px 25px;
                                overflow: hidden;
                                border-radius: 10px 10px 0px 0px;

                                >span {
                                    display: block;
                                    text-align: center;
                                    font-style: normal;

                                    &.subtitulo {
                                        color: rgba(255, 255, 255, .5);
                                        font-size: 18px;
                                        font-weight: 400;
                                        line-height: 23.4px;
                                        padding-bottom: 8px;
                                    }

                                    &.titulo {
                                        color: #FFF;
                                        font-size: 40px;
                                        font-weight: 700;
                                        line-height: 52px;
                                        text-transform: uppercase;
                                    }
                                }
                            }

                            &.body-card {
                                background: #fff;
                                padding: 25px 20px 20px;

                                >span {
                                    display: block;
                                    text-align: center;
                                    font-style: normal;

                                    &.preco {
                                        color: #003DA6;
                                        font-size: 30px;
                                        font-weight: 700;
                                        line-height: 39px;
                                        text-transform: uppercase;
                                    }

                                    &.validade-oferta {
                                        color: rgba(0, 0, 0, .5);
                                        font-size: 18px;
                                        font-weight: 400;
                                        line-height: 23.4px;
                                        padding-bottom: 25px;
                                    }
                                }

                                >a.assinatura-card {
                                    display: flex;
                                    flex-wrap: nowrap;
                                    justify-content: center;
                                    align-items: center;
                                    gap: 8px;
                                    padding: 12px 33px;
                                    border-radius: 12px;
                                    background: #F58220;
                                    white-space: nowrap;
                                    text-decoration: none;

                                    >div.ico {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        position: relative;
                                        bottom: 1px;
                                    }

                                    >span {
                                        display: block;
                                        color: #FFF;
                                        font-size: 16px;
                                        font-style: normal;
                                        font-weight: 500;
                                        line-height: 24px;
                                    }
                                }

                                >div.tipo-pag {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                    flex-wrap: nowrap;
                                    gap: 10px;
                                    margin-top: 15px;

                                    >div.ico {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }

                                    >span {
                                        display: block;
                                        color: rgba(0, 0, 0, .5);
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 23.4px;
                                    }
                                }
                            }

                            &.footer-card {
                                padding: 24px 20px;
                                background: #F5F5F5;
                                display: flex;
                                justify-content: flex-start;
                                align-items: center;
                                flex-wrap: nowrap;
                                gap: 8px;
                                overflow: hidden;
                                border-radius: 0px 0px 10px 10px;

                                >div {
                                    &.ico {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                    }

                                    &.right-footer-card {
                                        >span {
                                            display: block;
                                            line-height: 23.4px;
                                            font-size: 18px;
                                            font-style: normal;

                                            &.beneficio {
                                                color: rgba(0, 0, 0, .5);
                                                font-weight: 400;
                                            }

                                            &.inclusao {
                                                color: #003DA6;
                                                font-weight: 700;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}