@import './mixins.scss';
@import './animacoes.scss';
@import './paginas/index.scss';
@import './paginas/institucional.scss';
@import './paginas/planos.scss';
@import './paginas/contato.scss';


// {{{{{{{{ /////// *** =============== TESTES =============== *** /////// }}}}}}

@import './paginas/contato_geodrex.scss';

// GERAL =================================
* {
    font-family: "Poppins", sans-serif;
}

// scroll custom
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #dcdcdc;
}

::-webkit-scrollbar-thumb {
    background: #F58220;
}

::-webkit-scrollbar-thumb:hover {
    background: #003DA6;
}

// FONTS =================================
// .poppins-thin {
//     font-family: "Poppins", sans-serif;
//     font-weight: 100;
//     font-style: normal;
// }

// .poppins-extralight {
//     font-family: "Poppins", sans-serif;
//     font-weight: 200;
//     font-style: normal;
// }

// .poppins-light {
//     font-family: "Poppins", sans-serif;
//     font-weight: 300;
//     font-style: normal;
// }

// .poppins-regular {
//     font-family: "Poppins", sans-serif;
//     font-weight: 400;
//     font-style: normal;
// }

// .poppins-medium {
//     font-family: "Poppins", sans-serif;
//     font-weight: 500;
//     font-style: normal;
// }

// .poppins-semibold {
//     font-family: "Poppins", sans-serif;
//     font-weight: 600;
//     font-style: normal;
// }

// .poppins-bold {
//     font-family: "Poppins", sans-serif;
//     font-weight: 700;
//     font-style: normal;
// }

// .poppins-extrabold {
//     font-family: "Poppins", sans-serif;
//     font-weight: 800;
//     font-style: normal;
// }

// .poppins-black {
//     font-family: "Poppins", sans-serif;
//     font-weight: 900;
//     font-style: normal;
// }

// .poppins-thin-italic {
//     font-family: "Poppins", sans-serif;
//     font-weight: 100;
//     font-style: italic;
// }

// .poppins-extralight-italic {
//     font-family: "Poppins", sans-serif;
//     font-weight: 200;
//     font-style: italic;
// }

// .poppins-light-italic {
//     font-family: "Poppins", sans-serif;
//     font-weight: 300;
//     font-style: italic;
// }

// .poppins-regular-italic {
//     font-family: "Poppins", sans-serif;
//     font-weight: 400;
//     font-style: italic;
// }

// .poppins-medium-italic {
//     font-family: "Poppins", sans-serif;
//     font-weight: 500;
//     font-style: italic;
// }

// .poppins-semibold-italic {
//     font-family: "Poppins", sans-serif;
//     font-weight: 600;
//     font-style: italic;
// }

// .poppins-bold-italic {
//     font-family: "Poppins", sans-serif;
//     font-weight: 700;
//     font-style: italic;
// }

// .poppins-extrabold-italic {
//     font-family: "Poppins", sans-serif;
//     font-weight: 800;
//     font-style: italic;
// }

// .poppins-black-italic {
//     font-family: "Poppins", sans-serif;
//     font-weight: 900;
//     font-style: italic;
// }

header {
    nav#navbar {
        background: #fff !important;
        padding: 15px 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 2;
        transition: padding .5s;

        >.container {
            .menu {
                background-color: transparent;
                border: none;
                cursor: pointer;
                display: flex;
                padding: 0;
                outline: none;

                @media(min-width: 992px) {
                    display: none;
                }

                .line {
                    fill: none;
                    stroke: black;
                    stroke-width: 6;
                    transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
                        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);

                    &.line1 {
                        stroke-dasharray: 60 207;
                        stroke-width: 6;
                    }

                    &.line2 {
                        stroke-dasharray: 60 60;
                        stroke-width: 6;
                    }

                    &.line3 {
                        stroke-dasharray: 60 207;
                        stroke-width: 6;
                    }
                }

                &.opened .line1 {
                    stroke-dasharray: 90 207;
                    stroke-dashoffset: -134;
                    stroke-width: 6;
                }

                &.opened .line2 {
                    stroke-dasharray: 1 60;
                    stroke-dashoffset: -30;
                    stroke-width: 6;
                }

                &.opened .line3 {
                    stroke-dasharray: 90 207;
                    stroke-dashoffset: -134;
                    stroke-width: 6;
                }
            }

            >div#contain-nav-buttons {

                /* Estiliza o fundo da barra de rolagem */
                &::-webkit-scrollbar-track {
                    background-color: transparent;
                }

                /* Estiliza o polegar da barra de rolagem (a parte que se move) */
                &::-webkit-scrollbar-thumb {
                    background-color: transparent;
                }

                /* Alterar a cor do polegar quando está sendo "hovered" */
                &::-webkit-scrollbar-thumb:hover {
                    background-color: transparent;
                }

                >ul.navbar-nav {
                    // @media(max-width: 991.9px) {
                    //     padding-bottom: 100dvh;
                    // }

                    @media(min-width: 1200px) {
                        gap: 15px;
                    }

                    >li.nav-item {
                        >a.nav-link {
                            position: relative;
                            padding-left: 0 !important;
                            padding-right: 0 !important;
                            padding: 24px 12px !important;
                            color: #000;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 22.5px;

                            @media(max-width: 991.9px) {
                                display: block;
                                text-align: center;
                            }

                            &.active {
                                &::after {
                                    content: '';
                                    position: absolute;
                                    left: 0;
                                    right: 0;
                                    margin-left: auto;
                                    margin-right: auto;
                                    top: calc(50% + 15px);
                                    width: 16px;
                                    height: 2px;
                                    background-color: #F58220;
                                }
                            }
                        }
                    }
                }

                >form#contain-right-btns-nav {
                    @media(max-width: 991.9px) {
                        flex-direction: column;
                    }

                    @media(min-width: 992px) {
                        gap: 18px;
                        margin-left: 18px;
                    }

                    >button.btn-nav-right {
                        display: flex;
                        flex-wrap: nowrap;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;
                        outline: none;
                        cursor: pointer;
                        padding: 12px 28px;
                        border-radius: 12px;

                        @media(max-width: 991.9px) {
                            width: 100%;
                            max-width: 300px;
                        }

                        span {
                            display: block;
                            font-size: 13px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 150%;
                        }

                        &#area-cliente {
                            border: 1px solid #000;
                            background: rgba(255, 255, 255, 0.00);
                            color: #000;

                            @media(max-width: 991.9px) {
                                margin-bottom: 18px;
                            }
                        }

                        &#assinar-agr {
                            border: 1px solid transparent;
                            background: #F58220;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }
}

footer {
    margin: 0;
    padding: 0;

    >section {
        &.top {
            background: #F7F8FA;
            padding-bottom: 115px;
            padding-top: 100px;

            @media(min-width: 768px) {
                padding-bottom: 135px;
                padding-top: 135px;
            }

            >.container {
                >div {
                    &.top-img {
                        >div {
                            position: relative;
                            display: block;

                            &.desktop {
                                display: none;

                                @media(min-width: 768px) {
                                    display: block;
                                }
                            }

                            &.mobille {
                                @media(min-width: 768px) {
                                    display: none;
                                }
                            }

                            >img {
                                display: block;
                                margin: 0 auto;
                                width: 100%;
                                max-width: 1215px;
                                object-fit: cover;

                                @media(min-width: 450px) {
                                    max-width: 350px;
                                }

                                @media(min-width: 768px) {
                                    max-width: 1215px;
                                }
                            }

                            >a.assinar {
                                position: absolute;
                                left: 0;
                                right: 0;
                                top: 245px;
                                margin-left: auto;
                                margin-right: auto;
                                z-index: 1;
                                display: flex;
                                flex-wrap: nowrap;
                                justify-content: center;
                                align-items: center;
                                gap: 8px;
                                padding: 12px 33px;
                                border-radius: 12px;
                                background: #F58220;
                                text-decoration: none;
                                width: 100%;
                                max-width: 200px;

                                @media(min-width: 400px) {
                                    top: 275px;
                                }

                                @media(min-width: 576px) {
                                    top: 280px;
                                }

                                @media(min-width: 768px) {
                                    right: 17px;
                                    left: auto;
                                    top: calc(100% - 80px);
                                    padding: 5px 33px;
                                    max-width: 160px;
                                    margin-left: 0;
                                    margin-right: 0;
                                }

                                @media(min-width: 992px) {
                                    right: 75px;
                                    top: calc(100% - 98px);
                                }

                                @media(min-width: 1200px) {
                                    right: 80px;
                                    top: calc(100% - 120px);
                                    padding: 12px 33px;
                                    max-width: 200px;
                                }

                                @media(min-width: 1300px) {
                                    right: 100px;
                                    top: calc(100% - 135px);
                                }

                                >div.ico {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                >span {
                                    display: block;
                                    color: #FFF;
                                    font-size: 16px;
                                    font-weight: 500;
                                    line-height: 24px;
                                    white-space: nowrap;

                                    @media(min-width: 768px) {
                                        & {
                                            font-size: 12px;
                                        }
                                    }

                                    @media(min-width: 1300px) {
                                        & {
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        &.bottom {
            background: #003DA6;
            padding: 60px 0 45px;

            @media(min-width: 768px) {
                padding: 60px 0 65px;
            }

            >.container {
                display: grid;
                grid-template-columns: repeat(1, 1fr);

                @media(min-width: 1300px) {
                    grid-template-columns: 360px 1fr;
                    gap: 80px;
                }

                >div.contain-right {
                    display: grid;
                    grid-template-columns: repeat(1, 1fr);
                    gap: 40px;

                    @media(min-width: 768px) {
                        grid-template-columns: repeat(4, 1fr);
                    }

                    @media(min-width: 1300px) {
                        gap: 35px;
                    }
                }

                div.coluna {
                    &.esquerda {
                        div.logo {
                            display: flex;
                            justify-content: center;

                            @media(min-width: 1300px) {
                                justify-content: flex-start;
                            }

                            >img {
                                display: block;
                                width: 100%;
                                max-width: 180px;
                                object-fit: cover;
                            }
                        }

                        >span {
                            display: block;
                            color: #FFF;
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: normal;
                            padding: 20px 0 30px;
                            text-align: center;

                            .destaque {
                                font-weight: 700;
                            }

                            @media(min-width: 768px) {
                                font-size: 18px;
                                padding: 20px 0 40px;
                            }

                            @media(min-width: 1300px) {
                                text-align: left;
                            }
                        }

                        >div.contain-redes-sociais {
                            padding-bottom: 50px;
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: center;
                            align-items: center;
                            gap: 25px;

                            @media(min-width: 1300px) {
                                justify-content: flex-start;
                            }

                            >a {
                                display: inline-block;
                                text-decoration: none;
                            }
                        }
                    }

                    &:not(&.esquerda) {
                        display: flex;
                        flex-direction: column;
                        justify-content: flex-start;
                        align-items: flex-start;
                        gap: 12px;

                        >span.titulo-col {
                            display: block;
                            width: 100%;
                            color: #FFF;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 16.5px;
                            text-transform: capitalize;
                            opacity: 0.7;
                        }

                        >a {
                            &.item-col {
                                display: inline-block;
                                text-decoration: none;
                                color: #FFF;
                                font-size: 15px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 16.5px;
                                text-transform: capitalize;
                            }

                            &.item-col-ico {
                                display: flex;
                                flex-wrap: nowrap;
                                justify-content: center;
                                align-items: center;
                                gap: 4px;

                                >div.ico {
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                                >span {
                                    display: block;
                                    color: #FFF;
                                    font-size: 15px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 16.5px;
                                    text-transform: capitalize;
                                }
                            }
                        }
                    }
                }
            }
        }

        &.development {
            background: #1c1c1c;
            padding: 12px 0 10px;

            >.container {
                display: flex;
                justify-content: center;

                >a {
                    display: inline-block;
                    text-decoration: none;
                    font-family: "Bebas Neue", sans-serif;
                    font-weight: 400;
                    font-style: normal;
                    color: #fff;
                    font-size: 16px;
                    text-align: center;
                    letter-spacing: 1.4px;
                }
            }
        }
    }
}

//container padrao
.container {
    padding: 0 !important;
    max-width: 310px;

    @media (min-width: 400px) {
        max-width: 350px;
    }

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: 960px;
    }

    @media (min-width: 1300px) {
        max-width: 1216px !important;
    }
}

//container centro - direita
.container-center-left {
    width: 100%;
    max-width: 310px;
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 400px) {
        max-width: 350px;
    }

    @media (min-width: 576px) {
        max-width: 540px;
    }

    @media (min-width: 768px) {
        max-width: 720px;
    }

    @media (min-width: 992px) {
        max-width: calc((100% - 960px) / 2 + 960px) !important;
        margin-left: auto;
        margin-right: 0;
    }

    @media (min-width: 1200px) {
        max-width: calc((100% - 1140px) / 2 + 1140px) !important;
    }

    @media (min-width: 1300px) {
        max-width: calc((100% - 1216px) / 2 + 1216px) !important;
    }
}

//ANIMACOES
@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 220px;
        height: 220px;
        opacity: 0;
    }
}

//ESTILOS MODAL VIDEO
#videoModal {
    background: rgba(0, 0, 0, 0.5);
    .modal-content {
        background: none;
        border-radius: 0;
        border: none;

        >div.modal-header {
            padding: 0 0 20px;
            border-radius: 0;
            border: none;
        }

        >div.modal-body {
            padding: 0;
            border: none;
        }
    }
}