@charset "UTF-8";
section.banners-home {
  margin-top: 100px;
}
section.banners-home .aligner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
section.banners-home .aligner .owl-item .item {
  display: block;
  text-decoration: none;
}
section.banners-home .aligner .owl-item .item > img {
  display: block;
  margin: 0 auto;
  width: 100%;
  object-fit: cover;
}
section.banners-home .aligner .owl-nav {
  position: absolute;
  top: calc(100% - 95px);
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 310px;
}
@media (min-width: 400px) {
  section.banners-home .aligner .owl-nav {
    max-width: 350px;
  }
}
@media (min-width: 576px) {
  section.banners-home .aligner .owl-nav {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  section.banners-home .aligner .owl-nav {
    max-width: 720px;
    top: 40%;
  }
}
@media (min-width: 992px) {
  section.banners-home .aligner .owl-nav {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  section.banners-home .aligner .owl-nav {
    max-width: 1140px;
  }
}
@media (min-width: 1300px) {
  section.banners-home .aligner .owl-nav {
    max-width: 1216px !important;
  }
}
section.banners-home .aligner .owl-nav > button {
  pointer-events: all;
}
section.banners-home .aligner .owl-nav > button:hover {
  background: none;
}
section.banners-home .aligner .contain-btns-banner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
  pointer-events: none;
  border: 2px solid red;
}
section.banners-home .aligner .contain-btns-banner > a {
  pointer-events: all;
}
section.banners-home .aligner .contain-btns-banner > button {
  pointer-events: all;
}
section.banners-home .aligner .owl-dots {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  width: 100%;
  max-width: 150px;
  display: flex;
  justify-content: space-between;
  padding: 17px 50px;
  border-radius: 8px;
  background: rgba(0, 0, 0, 0.5);
}
section.banners-home .aligner .owl-dots > button {
  display: block;
  width: 10px !important;
  height: 12px !important;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
}
section.banners-home .aligner .owl-dots > button.active {
  background: #fff;
}
section.ofertas-home {
  padding: 60px 0 0;
  background: #fff;
}
@media (min-width: 768px) {
  section.ofertas-home {
    padding: 135px 0 0;
  }
}
section.ofertas-home > div.container > span {
  display: block;
  font-style: normal;
  font-weight: 400;
}
section.ofertas-home > div.container > span.titulo {
  color: #142954;
  font-size: 26px;
  line-height: 33.8px;
  padding-bottom: 12px;
}
@media (min-width: 768px) {
  section.ofertas-home > div.container > span.titulo {
    text-align: center;
    font-size: 30px;
    line-height: 39px;
    padding-bottom: 0;
  }
}
section.ofertas-home > div.container > span.titulo .destaque {
  font-weight: 700;
}
section.ofertas-home > div.container > span.subtitulo {
  color: #000;
  font-size: 16px;
  line-height: 26px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  section.ofertas-home > div.container > span.subtitulo {
    text-align: center;
    padding-bottom: 30px;
  }
}
section.ofertas-home > div.container > div.contain-filtros-ofertas {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding-bottom: 40px;
}
@media (min-width: 768px) {
  section.ofertas-home > div.container > div.contain-filtros-ofertas {
    flex-direction: row;
    justify-content: center;
    gap: 14px;
    padding-bottom: 60px;
  }
}
section.ofertas-home > div.container > div.contain-filtros-ofertas > button {
  display: block;
  width: 100%;
  max-width: 260px;
  white-space: nowrap;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 11px 10px 9px;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  border-radius: 12px;
}
section.ofertas-home > div.container > div.contain-filtros-ofertas > button:nth-child(1) {
  background: #003DA6;
  color: #fff;
}
section.ofertas-home > div.container > div.contain-filtros-ofertas > button:nth-child(2) {
  background: #E0E0E0;
  color: #000;
}
section.ofertas-home > div.container > div.contain-cards-ofertas {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: nowrap;
  gap: 40px;
  padding-bottom: 35px;
}
@media (min-width: 600px) {
  section.ofertas-home > div.container > div.contain-cards-ofertas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 20px;
  }
}
@media (min-width: 992px) {
  section.ofertas-home > div.container > div.contain-cards-ofertas {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1200px) {
  section.ofertas-home > div.container > div.contain-cards-ofertas {
    gap: 80px 40px;
  }
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta {
  width: 100%;
  max-width: 380px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: relative;
  border-radius: 10px;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta.oferta::after {
  content: "Oferta por tempo limitado";
  position: absolute;
  left: 0;
  right: 0;
  top: -24px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 215px;
  border-radius: 12px;
  background: #F58220;
  padding: 11px 10px 9px;
  color: #FFF;
  font-size: 14px;
  line-height: 16.8px;
  text-align: center;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 768px) {
  section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta.oferta::after {
    font-size: 16px;
    line-height: 19.2px;
    max-width: 260px;
  }
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta.mais-vendido::after {
  content: "Mais vendida";
  position: absolute;
  left: 0;
  right: 0;
  top: -24px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 215px;
  border-radius: 12px;
  background: #F58220;
  padding: 11px 10px 9px;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  line-height: 16.8px;
  font-style: normal;
  font-weight: 400;
}
@media (min-width: 768px) {
  section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta.mais-vendido::after {
    font-size: 16px;
    line-height: 19.2px;
    max-width: 260px;
  }
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta.mais-vendido > div.header-card {
  background: #022E79;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta.mais-vendido > div.body-card {
  background: #003DA6;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta.mais-vendido > div.body-card > span.preco {
  color: #fff;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta.mais-vendido > div.body-card > span.validade-oferta {
  color: rgba(255, 255, 255, 0.5);
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta.mais-vendido > div.body-card > div.tipo-pag > div.ico > svg g path {
  fill: #fff;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta.mais-vendido > div.body-card > div.tipo-pag > span {
  color: rgba(255, 255, 255, 0.5);
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta.mais-vendido > div.footer-card {
  background: #022E79;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta.mais-vendido > div.footer-card > div.ico > svg > rect {
  stroke: #fff;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta.mais-vendido > div.footer-card > div.ico > svg g > path {
  fill: #fff;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta.mais-vendido > div.footer-card > div.right-footer-card > span.beneficio {
  color: rgba(255, 255, 255, 0.5);
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta.mais-vendido > div.footer-card > div.right-footer-card > span.inclusao {
  color: #fff;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.header-card {
  background: #003DA6;
  padding: 20px 20px 25px;
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.header-card > span {
  display: block;
  text-align: center;
  font-style: normal;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.header-card > span.subtitulo {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  padding-bottom: 8px;
}
@media (min-width: 600px) {
  section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.header-card > span.subtitulo {
    font-size: 18px;
    line-height: 23.4px;
  }
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.header-card > span.titulo {
  color: #FFF;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-transform: uppercase;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.body-card {
  background: #fff;
  padding: 25px 20px 20px;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.body-card > span {
  display: block;
  text-align: center;
  font-style: normal;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.body-card > span.preco {
  color: #003DA6;
  font-size: 30px;
  font-weight: 700;
  line-height: 39px;
  text-transform: uppercase;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.body-card > span.validade-oferta {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  padding-bottom: 25px;
}
@media (min-width: 600px) {
  section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.body-card > span.validade-oferta {
    font-size: 18px;
    line-height: 23.4px;
  }
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.body-card > a.assinatura-card {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 12px 33px;
  border-radius: 12px;
  background: #F58220;
  white-space: nowrap;
  text-decoration: none;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.body-card > a.assinatura-card > div.ico {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 1px;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.body-card > a.assinatura-card > span {
  display: block;
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.body-card > div.tipo-pag {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
  margin-top: 15px;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.body-card > div.tipo-pag > div.ico {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.body-card > div.tipo-pag > div.ico > svg g path {
  fill: #000;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.body-card > div.tipo-pag > span {
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20.8px;
}
@media (min-width: 600px) {
  section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.body-card > div.tipo-pag > span {
    font-size: 18px;
    line-height: 23.4px;
  }
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.footer-card {
  padding: 24px 20px;
  background: #F5F5F5;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  gap: 8px;
  overflow: hidden;
  border-radius: 0px 0px 10px 10px;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.footer-card > div.ico {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.footer-card > div.ico > svg > rect {
  stroke: #000;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.footer-card > div.ico > svg g > path {
  fill: #000;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.footer-card > div.right-footer-card > span {
  display: block;
  font-size: 16px;
  line-height: 20.8px;
  font-style: normal;
}
@media (min-width: 600px) {
  section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.footer-card > div.right-footer-card > span {
    font-size: 18px;
    line-height: 23.4px;
  }
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.footer-card > div.right-footer-card > span.beneficio {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}
section.ofertas-home > div.container > div.contain-cards-ofertas div.card-oferta > div.footer-card > div.right-footer-card > span.inclusao {
  color: #003DA6;
  font-weight: 700;
}
section.ofertas-home > div.container > div.contain-ver-mais {
  padding-bottom: 70px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
@media (min-width: 992px) {
  section.ofertas-home > div.container > div.contain-ver-mais {
    padding-bottom: 135px;
  }
}
section.ofertas-home > div.container > div.contain-ver-mais > button.btn-ver-mais {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 80px;
  background: #E0E0E0;
  padding: 3px 4px;
  white-space: nowrap;
  gap: 35px;
}
section.ofertas-home > div.container > div.contain-ver-mais > button.btn-ver-mais > span {
  display: block;
  color: #000;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19.2px;
  padding-left: 60px;
}
section.ofertas-home > div.container > div.contain-ver-mais > button.btn-ver-mais > div.ico {
  display: flex;
  justify-content: center;
  align-items: center;
}
section.quem-somos-home {
  background: url("/website/img/index/bg-azul-mobille.jpg") no-repeat center center;
  background-size: 100% 100%;
  padding: 45px 0 70px;
}
@media (min-width: 576px) {
  section.quem-somos-home {
    background: url("/website/img/index/bg-azul-desktop.jpg") no-repeat center center;
    background-size: cover;
  }
}
@media (min-width: 768px) {
  section.quem-somos-home {
    padding: 60px 0 170px;
  }
}
section.quem-somos-home div.top {
  border: 2px solid cyan;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
}
@media (min-width: 768px) {
  section.quem-somos-home div.top {
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  section.quem-somos-home div.top {
    gap: 70px;
  }
}
section.quem-somos-home div.top > div.col-left {
  border: 2px solid red;
}
section.quem-somos-home div.top > div.col-left > img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 610px;
  object-fit: cover;
}
@media (min-width: 768px) {
  section.quem-somos-home div.top > div.col-left > img {
    min-width: 310px;
  }
}
@media (min-width: 992px) {
  section.quem-somos-home div.top > div.col-left > img {
    min-width: 410px;
  }
}
@media (min-width: 1200px) {
  section.quem-somos-home div.top > div.col-left > img {
    min-width: 580px;
  }
}
@media (min-width: 1500px) {
  section.quem-somos-home div.top > div.col-left > img {
    min-width: 610px;
  }
}
section.quem-somos-home div.top > div.col-right {
  border: 2px solid lime;
}

* {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #dcdcdc;
}

::-webkit-scrollbar-thumb {
  background: #F58220;
}

::-webkit-scrollbar-thumb:hover {
  background: #003DA6;
}

header nav#navbar {
  background: #fff !important;
  padding: 15px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  transition: padding 0.5s;
}
header nav#navbar > .container .menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
  outline: none;
}
@media (min-width: 992px) {
  header nav#navbar > .container .menu {
    display: none;
  }
}
header nav#navbar > .container .menu .line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
header nav#navbar > .container .menu .line.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
header nav#navbar > .container .menu .line.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
header nav#navbar > .container .menu .line.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
header nav#navbar > .container .menu.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
header nav#navbar > .container .menu.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
header nav#navbar > .container .menu.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
header nav#navbar > .container > div#contain-nav-buttons {
  /* Estiliza o fundo da barra de rolagem */
  /* Estiliza o polegar da barra de rolagem (a parte que se move) */
  /* Alterar a cor do polegar quando está sendo "hovered" */
}
header nav#navbar > .container > div#contain-nav-buttons::-webkit-scrollbar-track {
  background-color: transparent;
}
header nav#navbar > .container > div#contain-nav-buttons::-webkit-scrollbar-thumb {
  background-color: transparent;
}
header nav#navbar > .container > div#contain-nav-buttons::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}
header nav#navbar > .container > div#contain-nav-buttons.show {
  height: 100dvh;
  max-height: 100dvh;
  padding-bottom: 150px;
}
@media (max-width: 991.9px) {
  header nav#navbar > .container > div#contain-nav-buttons > ul.navbar-nav {
    padding-bottom: 20px;
  }
}
@media (min-width: 1200px) {
  header nav#navbar > .container > div#contain-nav-buttons > ul.navbar-nav {
    gap: 15px;
  }
}
header nav#navbar > .container > div#contain-nav-buttons > ul.navbar-nav > li.nav-item > a.nav-link {
  position: relative;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding: 24px 12px !important;
  color: #000;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 22.5px;
}
@media (max-width: 991.9px) {
  header nav#navbar > .container > div#contain-nav-buttons > ul.navbar-nav > li.nav-item > a.nav-link {
    display: block;
    text-align: center;
  }
}
header nav#navbar > .container > div#contain-nav-buttons > ul.navbar-nav > li.nav-item > a.nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: calc(50% + 15px);
  width: 16px;
  height: 2px;
  background-color: #F58220;
}
@media (max-width: 991.9px) {
  header nav#navbar > .container > div#contain-nav-buttons > form#contain-right-btns-nav {
    flex-direction: column;
  }
}
@media (min-width: 992px) {
  header nav#navbar > .container > div#contain-nav-buttons > form#contain-right-btns-nav {
    gap: 18px;
    margin-left: 18px;
  }
}
header nav#navbar > .container > div#contain-nav-buttons > form#contain-right-btns-nav > button.btn-nav-right {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  outline: none;
  cursor: pointer;
  padding: 12px 28px;
  border-radius: 12px;
}
@media (max-width: 991.9px) {
  header nav#navbar > .container > div#contain-nav-buttons > form#contain-right-btns-nav > button.btn-nav-right {
    width: 100%;
    max-width: 300px;
  }
}
header nav#navbar > .container > div#contain-nav-buttons > form#contain-right-btns-nav > button.btn-nav-right span {
  display: block;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
header nav#navbar > .container > div#contain-nav-buttons > form#contain-right-btns-nav > button.btn-nav-right#area-cliente {
  border: 1px solid #000;
  background: rgba(255, 255, 255, 0);
  color: #000;
}
@media (max-width: 991.9px) {
  header nav#navbar > .container > div#contain-nav-buttons > form#contain-right-btns-nav > button.btn-nav-right#area-cliente {
    margin-bottom: 18px;
  }
}
header nav#navbar > .container > div#contain-nav-buttons > form#contain-right-btns-nav > button.btn-nav-right#assinar-agr {
  border: 1px solid transparent;
  background: #F58220;
  color: #fff;
}

footer {
  margin: 0;
  padding: 0;
}

.container {
  padding: 0 !important;
  max-width: 310px;
}
@media (min-width: 400px) {
  .container {
    max-width: 350px;
  }
}
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1300px) {
  .container {
    max-width: 1216px !important;
  }
}

.container-center-right {
  background: forestgreen;
}
@media (min-width: 992px) {
  .container-center-right {
    max-width: calc((100% - 960px) / 2 + 960px) !important;
    margin-right: 0 !important;
  }
}
@media (min-width: 1200px) {
  .container-center-right {
    max-width: calc((100% - 1140px) / 2 + 1140px) !important;
  }
}
@media (min-width: 1300px) {
  .container-center-right {
    max-width: calc((100% - 1216px) / 2 + 1216px) !important;
  }
}

/*# sourceMappingURL=style.css.map */
